
<br>
<br>
<% if @user.nil? == false %>
<h1>User details</h1>
  <h3>Displaying <%=@user.first_name%>'s details </h3>

<table id="albums" cellspacing="0">
  <thead>
    <tr>
      <th>        FIRSTNAME        </th>
      <th>        LASTNAME      </th>
      <th>        EMAIL        </th>
      <th>        BIOGRAPHY       </th>
      <th>        AGE     </th>
      <th colspan="25"></th>
    </tr>
  </thead>
  <tr>
    <td> <%= @user.first_name %> </td>
    <td> <%= @user.last_name %> </td>
    <td> <%= @user.email %> </td>
    <td> <%= @user.biography %> </td>
    <td> <%= @user.age %> </td>
  </tr>
</table>
<footer class= "footer">
Logged in as <strong><%= current_user.email %></strong>
 <%= link_to '  Edit  ', users_edit_path(id: @user.id) %>
<%= link_to 'Delete     ', users_delete_path(id: @user.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</footer>
<%else%>
<h3> Such a user record does not exist. Please click on a specific user </p>
<footer class= "footer">
Logged in as <strong><%= current_user.email %></strong>
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</footer>
<%end%>
