<!DOCTYPE html>
<html>
  <head>
    <title>Registered Users</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="jumbotron">
  <div class="container">
  <% if user_signed_in? %>
  <!-- <img src="http://placekitten.com/g/1500/300"/> -->
  <%end %>
    <%= yield %>
  </div>
  </div>
  </body>
  <% if user_signed_in? %>
  <%= render 'layouts/footer' %>
  <% else %>
  <h5> Copyright reserved </h5>
  <%end%>
</html>
